.m-form-module {
  width: 100%;
  padding: 24px;
  box-shadow: 0px 4px 6px 0px #0000000D, 0px 10px 15px 0px #0000001A;
  max-width: 420px;
  border-radius: 12px;

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }
}